## Python Data Structures and Boolean 

- Boolean
- Boolean and Logical Operators
- Lists
- Comparison operators
- Dictionaries
- Tuples
- Sets

### Boolean Variables

Boolean values are the two constant objects False and True. 

They are used to represent truth values (other values can also be considered
false or true). 

In numeric contexts (for example, when used as the argument to an
arithmetic operator), they behave like the integers 0 and 1, respectively.

The built-in function bool() can be used to cast any value to a Boolean,
if the value can be interpreted as a truth value

They are written as False and True, respectively.

In [3]:
False

False

In [3]:
print(True,False)

True False

In [4]:
type(True)

bool

In [5]:
type(False)

bool

In [8]:
my_str='Krish123'

In [10]:
my_str.istitle()

True

In [11]:
print(my_str.isalnum()) #check if all char are numbers
print(my_str.isalpha()) #check if all char in the string are alphabetic
print(my_str.isdigit()) #test if string contains digits
print(my_str.istitle()) #test if string contains title words
print(my_str.isupper()) #test if string contains upper case
print(my_str.islower()) #test if string contains lower case
print(my_str.isspace()) #test if string contains spaces
print(my_str.endswith('k')) #test if string endswith a d
print(my_str.startswith('K')) #test if string startswith H

True
False
False
True
False
False
False
False
True

### Boolean and Logical Operators

In [10]:
True and True

True

In [11]:
True and False

False

In [12]:
True or False

True

In [13]:
True or True

True

In [13]:
str_example='Hello World'
my_str='Krish'

In [14]:
my_str.isalpha() or str_example.isnum()

True

### Lists

A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]

In [7]:
##mutable vs immutable
str1="Krish"
print(str1)
type(str1)

Krish

str

In [8]:
str1="Naik"
print(str1)

Naik

In [12]:
##string are immutable
str1[2]="jk"

TypeError: 'str' object does not support item assignment

In [18]:
##Lists
##mutable
lst=[1,2,3,4,"Krish","Helllo"]
print(lst)
lst[4]="Naik"
print(lst[4])

[1, 2, 3, 4, 'Krish', 'Helllo']
Naik

In [22]:
lst=list((1,2,3,4,5))
type(lst)
print(lst)

[1, 2, 3, 4, 5]

In [29]:
lst=[1,2,3,4,5]

In [31]:
for i in lst:
    print(i**2)

1
4
9
16
25

In [34]:
min(lst)

1

In [15]:
type([])

list

In [23]:
lst_example=[]

In [24]:
type(lst_example)

list

In [25]:
lst=list()

In [26]:
type(lst)

list

In [16]:
lst=['Mathematics', 'chemistry', 100, 200, 300, 204]

In [18]:
len(lst)

6

In [17]:
type(lst)

list

### Append

In [35]:
lst

[1, 2, 3, 4, 5]

In [36]:
#.append is used to add elements in the list
lst.append("Krish")
lst

[1, 2, 3, 4, 5, 'Krish']

In [37]:
lst.append(["John","Bala"])
lst

[1, 2, 3, 4, 5, 'Krish', ['John', 'Bala']]

In [44]:
lst[2:6]

[3, 4, 5, 'Krish']

In [41]:
lst

[1, 2, 3, 4, 5, 'Krish', ['John', 'Bala']]

In [23]:
##Indexing in List
lst[6]

'Krish'

In [26]:
lst[1:6]

['chemistry', 100, 200, 300, 204]

### Insert

In [45]:
lst

[1, 2, 3, 4, 5, 'Krish', ['John', 'Bala']]

In [46]:
## insert in a specific order

lst.insert(2,"Naik")

In [47]:
lst

[1, 2, 'Naik', 3, 4, 5, 'Krish', ['John', 'Bala']]

In [31]:
lst.append(["Hello","World"])

In [32]:
lst

['Mathematics',
 'chemistry',
 'Naik',
 100,
 200,
 300,
 204,
 'Krish',
 ['John', 'Bala'],
 ['Hello', 'World']]

In [30]:
lst=[1,2,3]

In [31]:
lst.append([4,5])

In [32]:
lst

[1, 2, 3, [4, 5]]

### Extend Method

In [51]:
lst=[1,2,3,4,5,6]

In [52]:
lst.append([8,9])
lst

[1, 2, 3, 4, 5, 6, [8, 9]]

In [49]:
lst.extend([8,9])

In [50]:
lst

[1, 2, 3, 4, 5, 6, 8, 9]

### Various Operations that we can perform in List

In [53]:
lst=[1,2,3,4,5]

In [54]:
sum(lst)

15

In [58]:
lst*5

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [59]:
for i in lst:
    print(i/5)

0.2
0.4
0.6
0.8
1.0

In [48]:
lst*5

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [60]:
lst

[1, 2, 3, 4, 5]

### Pop() Method

In [61]:
lst.pop()

5

In [62]:
lst

[1, 2, 3, 4]

In [63]:
lst.pop(2)

3

In [64]:
lst

[1, 2, 4]

### count():Calculates total occurrence of given element of List

In [41]:
lst=[1,1,2,3,4,5]
lst.count(1)

2

In [49]:
#length:Calculates total length of List
len(lst)

6

In [44]:
# index(): Returns the index of first occurrence. Start and End index are not necessary parameters
lst.index(1,1,4)

1

In [45]:
##Min and Max
min(lst)

1

In [57]:
max(lst)

5

## SETS

A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table

In [88]:
## Defining an empy set

set_var= set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [49]:
set_var={1,2,3,4,3}

In [50]:
set_var

{1, 2, 3, 4}

In [55]:
set_var={"Avengers","IronMan",'Hitman'}
print(set_var)
type(set_var)

{'IronMan', 'Hitman', 'Avengers'}

set

In [56]:
## Inbuilt function in sets

set_var.add("Hulk")

In [ ]:
.

In [57]:
print(set_var)

{'IronMan', 'Hitman', 'Avengers', 'Hulk'}

In [63]:
set1={"Avengers","IronMan",'Hitman'}
set2={"Avengers","IronMan",'Hitman','Hulk2'}

In [65]:
set2.intersection_update(set1)

In [66]:
set2

{'Avengers', 'Hitman', 'IronMan'}

In [59]:
##Difference 
set2.difference(set1)

{'Hulk2'}

In [60]:
set2

{'Avengers', 'Hitman', 'Hulk2', 'IronMan'}

In [61]:
## Difference update

set2.difference_update(set1)

In [62]:
print(set2)

{'Hulk2'}

## Dictionaries

A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [59]:
dic={}

In [60]:
type(dic)

dict

In [70]:
type(dict())

dict

In [68]:
set_ex={1,2,3,4,5}

In [69]:
type(set_ex)

set

In [72]:
## Let create a dictionary

my_dict={"Car1": "Audi", "Car2":"BMW","Car3":"Mercidies Benz"}

In [64]:
type(my_dict)

dict

In [73]:
##Access the item values based on keys

my_dict['Car1']

'Audi'

In [66]:
# We can even loop throught the dictionaries keys

for x in my_dict:
    print(x)

Car1
Car2
Car3

In [68]:
# We can even loop throught the dictionaries values

for x in my_dict.values():
    print(x)

Audi
BMW
Mercidies Benz

In [69]:
# We can also check both keys and values
for x in my_dict.items():
    print(x)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Mercidies Benz')

In [74]:
## Adding items in Dictionaries

my_dict['car4']='Audi 2.0'

In [75]:
my_dict

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'car4': 'Audi 2.0'}

In [76]:
my_dict['Car1']='MAruti'

In [77]:
my_dict

{'Car1': 'MAruti', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'car4': 'Audi 2.0'}

### Nested Dictionary

In [76]:
car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}

car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}

In [77]:
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

In [80]:
## Accessing the items in the dictionary

print(car_type['car1'])

{'Mercedes': 1960}

In [81]:
print(car_type['car1']['Mercedes'])

1960

## Tuples

In [101]:
## create an empty Tuples

my_tuple=tuple()

In [102]:
type(my_tuple)

tuple

In [103]:
my_tuple=()

In [104]:
type(my_tuple)

tuple

In [78]:
my_tuple=("Krish","Ankur","John")

In [81]:
my_tuple=('Hello','World')

In [82]:
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
('Hello', 'World')

In [107]:
type(my_tuple)

tuple

In [110]:
## Inbuilt function
my_tuple.count('Krish')

1

In [117]:
my_tuple.index('Ankur')

1